<header class="mb-auto">
  <div>
    <h3 class="float-md-start mb-0">Banking System</h3>
    <nav
      class="nav nav-masthead justify-content-center float-md-end"
      id="nav-menu"
    >
      <a
        class="nav-link fw-bold py-1 px-3 active"
        aria-current="page"
        href="/transactions"
        >송금하기</a
      ><a
        class="nav-link fw-bold py-1 px-3 active"
        aria-current="page"
        href="/transactions/list"
        >전체 거래역 조회</a
      ><a
        class="nav-link fw-bold py-1 px-3 active"
        aria-current="page"
        href="/account"
        >계좌 조회하기</a
      ><a
        class="nav-link fw-bold py-1 px-3 active"
        aria-current="page"
        href="/account/enter"
        >계좌 등록하기</a
      >
      <a class="nav-link fw-bold py-1 px-3 active" aria-current="page" href="/"
        >Home</a
      >
      <a class="nav-link fw-bold py-1 px-3" id="signup-link" href="/user/signup"
        >Sign Up</a
      >
      <a class="nav-link fw-bold py-1 px-3" id="login-link" href="/user/login"
        >Login</a
      >
      <a
        class="nav-link fw-bold py-1 px-3"
        id="logout-link"
        href="/user/logout"
        style="display: none"
        >Logout</a
      >
    </nav>
  </div>
</header>
